<div class= "backgroud_image_signup">
  
  <%= render "homes/logo" %>
  
  <div class="signup-text">Sign up</div>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  
    <div class="container signup-form">
      
      <div class="row signup-form_for mt-5">
        <span class="col-7 signup-lavel"><%= f.label :ユーザーネーム %></span>
        <span class="col-5 signup-field"><%= f.text_field :name ,:size=>"30x10" %></span>
      </div>

      <div class="row signup-form_for mt-4">
        <span class="col-7 signup-lavel"><%= f.label :メールアドレス %></span>
        <span class="col-5 signup-field"><%= f.email_field :email, autofocus: true, autocomplete: "email",:size=>"30x10" %></span>
      </div>

        <div class="row signup-form_for mt-4">
          <span class="col-7 signup-lavel"><%= f.label :"パスワード" %></span>
        <% if @minimum_password_length %><% end %>
          <span class="col-5 signup-field"><%= f.password_field :password, autocomplete: "new-password",:size=>"30x10" %></span>
        </div>
    
        <div class="row signup-form_for mt-4">
          <span class="col-7 signup-lavel"><%= f.label :"パスワード(確認)" %></span>
          <span class="col-5 signup-field"><%= f.password_field :password_confirmation, autocomplete: "new-password",:size=>"30x10" %></span>
        </div>
        <div class="col">
        <div class="signup-button col-11 ml-4"><%= f.submit "登録" , class: "button"%></div>
        <div class="login-link col-11 ml-4"><%= render "devise/shared/links" %></div>
        </div>
      </div>
 <% end %>
</div>


