<div class= "backgroud_image_signup">
  
  <%= render "homes/logo" %>
  
  <div class="signup">
    <h1 class="signup-text">Sign up</h1>
    
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="signup-name-field">
    <%= f.label :ユーザーネーム %>
    <%= f.text_field :name ,:size=>"20x10",class: "mx-5"%>
  </div>

  <div class="signup-email-field">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",:size=>"30x10",class: "mx-5" %>
  </div>

  <div class="signup-password-field">
    <%= f.label :"パスワード(6文字以上)" %>
    <% if @minimum_password_length %>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password",:size=>"20x10",class: "mx-5" %>
  </div>

  <div class="signup-password-field">
    <%= f.label :"パスワード(確認)" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password",:size=>"20x10",class: "mx-5" %>
  </div>

  <div class="signup-actions">
    <%= f.submit "登録" , class: "button"%>
  </div>
<% end %>
    
    <div class="signup-render-actions">
      <%= render "devise/shared/links" %>
    </div>
 
</div>