<table class='row ml-auto'>
  <tbody>
    <% group.group_comments.each do |group_comment| %>
      
      <% if group_comment.user == current_user %>
      <tr >
        <td nowrap style="border: none;"><%= image_tag group_comment.user.get_profile_image, size: "50x50" %></td>
        <td style="border: none;" colspan=2>
            <u><%= group_comment.comment %></u>
            <%= link_to "削除", group_group_comment_path(group, group_comment), method: :delete,class: "btn btn-sm btn-danger pull-right destroy_button_round" %>
        </td>
      </tr>
      
      <% else %>
      
      <tr class="">
        <td class="" style="border: none;"></td>
        <td class="" style="border: none; text-align: right;" colspan=2><u><%= group_comment.comment %></u></td>
        <td nowrap style="border: none; text-align: center;"><%= image_tag group_comment.user.get_profile_image, size: "50x50" %></td>
      </tr>
      <% end %>
      
    <% end %>
  </tbody>
</table>