<table class="table table-borderless">
  <thead align="center" valign="middle" style="font-size:15px;">
    <th></th>
    <th nowrap style="border-bottom:3px solid;">グループ名</th>
    <th nowrap style="border-bottom:3px solid;">オーナー名</th>
    <th nowrap style="border-bottom:3px solid;">ラウンド日</th>
    <th nowrap style="border-bottom:3px solid;">ラウンド場所</th>
    <th nowrap style="border-bottom:3px solid;">メンバー数</th>
    <th></th>
    <th></th>
  </thead>
  
  <% groups.each do |group| %>
  <tbody align="center" style="font-size:15px;">
      <td nowrap class="image_bigscale">
        <%= link_to group_path(group) do  %>
        <%= image_tag group.get_group_image, size:'100x100' %>
        <% end %>
      </td>
      <td nowrap style="display:table-cell; vertical-align:middle;">
        <%= link_to group_path(group), class: "text-dark" do %>
        <%= group.group_name %>
        <% end %>
      </td>

      <td nowrap style="display:table-cell; vertical-align:middle;"><%= group.owner.name %></td>
      <td nowrap style="display:table-cell; vertical-align:middle;"><%= group.round_day %></td>
      <td nowrap style="display:table-cell; vertical-align:middle;"><%= group.round_place %></td>
      <td nowrap style="display:table-cell; vertical-align:middle;" id="group_count_<%= group.id %>"><%= group.users.count %></td>
      <td nowrap style="display:table-cell; vertical-align:middle;"><span id="group_remote_<%= group.id %>"><%= render "join" , group: group %></span></td>
      <td nowrap style="display:table-cell; vertical-align:middle;">
        <% if group.owner_id == current_user.id %>
        <%= link_to "編集",edit_group_path(group.id),class: "btn btn-sm btn-warning" %>&emsp;
        <%= link_to "削除",group_path(group.id),method: :delete, "data-confirm" => "本当に削除しますか？",class: "btn btn-sm btn-danger destroy_button_round" %>
        <% end %>
      </td>
  </tbody>
  <% end %>
</table>