<div class="row" style="font-size:14px;">
  <div class="mt-3"><%= image_tag @user.get_profile_image, size:'110x110' %></div>
  <div class="mt-3 ml-3">
    アカウント名： <%= @user.name %>
    
    <div class="mt-3" style="display: inline">
      <div class="row">
        <div class="col-sm-auto text-left">フォロー数　： 3人</div>
        <div class="col-sm-auto" style="position:absolute; margin-left:165px;">ラウンド場所：愛知県</div>
        <div class="col-sm-auto">
        <%= link_to edit_user_path(current_user),class: 'text-dark md-3' do %>
        <i class="fas fa-wifi fa-2x mt-1" style="position:absolute; margin-left:205px;"></i>
        <% end %>
      </div>
    </div>
    
    <div class="mt-3" style="display: inline">
      <div class="row">
        <div class="col-sm-auto text-left">フォロワー数： 4人</div>
        <div class="col-sm-auto" style="position:absolute; margin-left:165px;">平均スコア　：105</div>
        <div class="col-sm-auto">
          <%= link_to edit_user_path(current_user),class: 'text-dark md-3' do %>
          <i class="fas fa-address-card fa-3x"style="position:absolute; margin-left:200px;"></i>
          <% end %>
        </div>
      </div>
    </div>
    
    <div class="mt-3" style="display: inline">
      <div class="row">
        <div class="col-sm-auto text-left">投稿数　　　： 7件</div>
        <div class="col-sm-auto" style="position:absolute; margin-left:166px;">ゴルフ経験　：3年6ヶ月</div>
      </div>
    </div>
  
    <div class="mt-3" style="display: inline">
      <%= link_to "フォローする",root_path,class:"btn btn-sm btn-primary" %>
   </div>
   
  </div>
  </div>
</div>