<div class="container mt-4">
  <div class="row">
      <% @posts.each do |postall| %>
      <table class="table-borderless" align="left" style="font-size:13px;">
          <td>
            <%= link_to post_path(postall.id) do %>
            <%= image_tag postall.post_image, size: '160x140' %>
            <% end %>
          </td>
        <tr>
          <td width="350" height="50">
            日付　　：<%= postall.round_day %><br>
            タイトル：<%= postall.title %><br>
            ラウンド：<%= postall.round_place %><br>
            コメント：<%= postall.post_comments.count %>件<br>
            <% if current_user == postall.user %>
            <%= link_to "削除", post_path(postall), method: :delete, "data-confirm" => "本当に削除しますか？" ,class: "btn btn-sm btn-danger" %>
            <% end %>
          </td>
        </tr>
       </table>
      <% end %>
  </div>
</div>


