<div class="container mt-3">
  <div class="row">
    <% @posts.each do |post| %>
    <table class="table-borderless mt-1">
      <% if post.published? %>
        <td class="image-box">
          <span class="images">
            <%= link_to post_path(post.id) do %>
            <%= image_tag post.images[0].to_s, size: '180x140' %>
            <% end %>
          </span>
        </td>
        <td style="font-size:13px;">
          日付　　：<%= post.round_day %><br>
          タイトル：<%= post.title %><br>
          ラウンド：<%= post.round_place %><br>
          コメント：<%= post.post_comments.count %> 件<br>
          <% if current_user == post.user || current_user.name == "管理者" %>
          <%= link_to "削除", post_path(post), method: :delete, "data-confirm" => "本当に削除しますか？" ,class: "mt-2 btn btn-sm btn-danger destroy_button_round" %>
          <% end %>
          <% if current_user.admin? %>
          <% else %>
          <em class="mt-2 ml-3 favorite-class" id="favorites-remote_<%= post.id %>"><%= render "favorites/favorite" , post: post %></em>
          <% end %>
          <em class="mt-2 bookmark-class" id="bookmarks-remote_<%= post.id %>"><%= render "bookmarks/bookmark", post: post %></em>
        </td>
      <% end %>
     </table>
    <% end %>
  </div>
</div>
