<%= render "layouts/header" %>
<div class='container px-5 px-sm-0 mt-5'>
  <div class='row'>
    <div class='col-md-8'>
      <h2>Users</h2>
      <table class="table table-borderless ml-4 mt-4" style="text-align: center;">
        <thead>
          <tr>
            <th nowrap colspan="4"></th>
            <th nowrap colspan="4">アカウント名</th>
            <th nowrap colspan="4">平均スコア</th>
            <th nowrap colspan="4">ゴルフ経験</th>
            <th nowrap colspan="4">ラウンド地域</th>
            <th nowrap colspan="4">ステータス</th>
            <th nowrap colspan="5"></th>
            <th nowrap colspan="5"></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
           <% if user.name != "管理者" && user.name != "ゲストユーザー" %>
          <tr>
            <td colspan="2" style="vertical-align:middle;">
              <%= link_to user_path(user) do %>
              <%= image_tag user.get_profile_image, size: '50x50' %>
              <% end %>
            </td>
            <td nowrap colspan="4" style="vertical-align:middle;"><%= link_to user.name,user_path(user),class: "text-dark" %></td>
            <td nowrap colspan="4" style="vertical-align:middle;"><%= user.average_score%></td>
            <td nowrap colspan="4" style="vertical-align:middle;"><%= user.experience%></td>
            <td nowrap colspan="4" style="vertical-align:middle;"><%= user.round_area%></td>
            <td nowrap colspan="4"  style="vertical-align:middle;">
              <% if user.is_deleted == false %>
                  <span class="text-success"><strong>有効</strong></span>
              <% else %>
                  <span class="text-secondary"><strong>退会</strong></span>
              <% end %>
            </td>
            <td colspan="5" nowrap style="vertical-align:middle;">
              <% if current_user != current_user.admin? && user.is_deleted %>
                <%= link_to "復元", restoration_path(user.id), method: :patch, "data-confirm" => "本当に復元しますか？",class: "btn btn-sm btn-primary" %>
                <% end %>
            </td>
            <td colspan="5" nowrap style="vertical-align:middle;">
              <% if current_user != current_user.admin? %>
                <%= link_to "削除", user_path(user.id), method: :delete, "data-confirm" => "本当に削除しますか？",class: "btn btn-sm btn-danger" %>
              <% end %>
            </td>
          </tr>
           <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="pagenation"><%= paginate @users %></div>