<div class="container offset-4">
  <div class="col-5 text_field">
    <%= form_with model: chat,url: chat_create_path(room.id), local:false do |f| %>
      <%= f.text_field :message, placeholder: "メッセージ入力" , size: "40×50" %>
      <%= f.hidden_field :room_id, :value => @room.id %>
      <span class="ml-1"><%= f.submit "送信", class: "button btn-sm" %></span>
      <%= f.file_field :images, accept: "image/*", id: "image", multiple: true, class: "form-control-file image" %>
    <% end %>
  </div>
</div>