<%= render "homes/logo" %>

<div style="font-size: 20px; font-weight:bold; color: red; position:absolute; left:110px;"><%#= alert %></div>
  
<div class="container">
  <div class="contact-form">アカウント復元申請フォーム</div>
    
  <%= form_with model:Contact.new do |f| %>
  
    <div class="contact-name-field">
      <%= f.label :退会時ユーザーネーム %>&emsp;
      <%= f.text_field :name, autocomplete: "name", :size=>"30x10" %>
    </div>
    
    <div class="contact-email-field">
      <%= f.label :退会時メールアドレス %>&emsp;
      <%= f.email_field :email, autocomplete: "email" ,:size=>"30x10" %>
    </div>

    <div class="contact_actions col-7"><%= f.submit "　申請　", class: "button" %></div>
<% end %>
  <div class="contact_info">
    アカウント完全削除前であればアカウント復元申請が可能です。<br>
    復元処理に最大24時間かかることがあります。<br>
    以下の内容にて完全削除されている場合は、復元申請を承れません。<br>
    <li class="mt-2">金曜日24時までに退会処理されたアカウントは日曜日24時に完全削除されます。</li>
    <li>金曜日24時01分以降〜日曜日23時59分までに退会処理したアカウントは削除対象が翌週扱いとなります。</li>
  </div>
</div>