<div class= "backgroud_image_top">
  <%= render "logo" %>
  
  <div class="title">
    <h1 class="main-title">〜　Stop! Single Golf　〜</h1>
    <p class="sub-title">一人でゴルフはもうやめよう</p>
  </div>
  
  <div class = "information">
    <%= link_to "　登録　", new_user_registration_path, class: "button mx-5" %>
    <%= link_to "ログイン", new_user_session_path, class: "button mx-5" %>
    <%= link_to "閲覧のみ", root_path, class: "button mx-5" %>
  </div>
  
  <h2 class="about_link">
    <%= link_to "What is this?", home_about_path, class: "text-body"  %>
  </h2>
  
</div>