<div class= "backgroud_image_top">
  <div class="row">
    <div class="col"><%= render "logo" %></div>
  <div class="col mt-5 mr-5 pr-5" align="end"><%= link_to "復元申請", new_contact_path, class: "btn btn-info text-dark" %></div>
  </div>
  <div class="title">
    <h1 class="main-title">〜&nbsp;Stop! Single Golf&nbsp;〜</h1>
    <p class="sub-title">一人でゴルフはもうやめよう</p>
  </div>
  
  <div class = "information">
    <%= link_to "　登録　", new_user_registration_path, class: "button" %>&emsp;&emsp;
    <%= link_to "ログイン", new_user_session_path, class: "button" %>&emsp;&emsp;
    <%= link_to "ゲスト", users_guest_sign_in_path, method: :post, class: "login button" %>
  </div>
  
  <h2 class="about_link">
    <%= link_to "What is this?", home_about_path, class: "text-body"  %>
  </h2>
  
</div>