<div class= "backgroud_image_login">
  
  <%= render "homes/logo" %>
  
    <h1 class="login-text">Log in</h1>
    
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
    
    <div class="login-email-field">
      <%= f.label :メールアドレス %>&emsp;
      <%= f.email_field :email, autofocus: true, autocomplete: "email" ,:size=>"30x10" %>
    </div>
    
    <div class="login-password-field">
      <%= f.label :パスワード %>&emsp;
      <%= f.password_field :password, autocomplete: "current-password",:size=>"20x10" %>
    </div>

  <% if devise_mapping.rememberable? %>
    <div class="login-remember-field">
      <%= f.check_box :remember_me %>
      <%= f.label :記憶する %>
    </div>
  <% end %>

  <div class="login-actions col-7"><%= f.submit "　ログイン　", class: "button" %></div>
 <% end %>
 
 <div class= "login-render-actions col-7"><%= render "devise/shared/links" %></div>
</div>