<%= render "layouts/header" %>
<div style="font-size: 20px; color: red; position:absolute; margin-top:10px; left:110px;">
  <% if @post.errors.any? %>
    <%= @post.errors.count %>件の未入力があります。
  <% end %>
</div>

<div class="container">
  <div class="mt-4" style="text-align:center; font-size:48px; font-weight:bold;">Posting Do!</div>
</div>

<%= form_with model: @post, local:true do |f| %>
<div class="container">
  
  <div class="form-group">
    <div class="row col-10 mt-4 mx-auto text-left">
      <label for="image col-3"style="font-size:24px;">画像</label>
      <div class="mt-1 ml-4"><%= f.file_field :post_image, accept: "image/*", id: "image", class: "form-control-file image md-5" %></div>
      
      <div class='col-md-3 offset-md-2'>
        <lavel class="col-3" style="font-size:24px; text-align:end;">タイトル</lavel>
        <div class="col-11 mt-2" style="text-align:end;"><%= f.text_field :title ,size: "40×20" %></div>
      </div>
    </div>
  </div>
    
  <div class="form-group">
    <div class="row col-10 mx-auto">
      <label for="col-3"style="font-size:24px;">日付</label>
      <div class="mt-1 ml-4"><%= f.date_field :round_day %></div>
    </div>
  </div>


  <div class="form-group">
    <div class="col-10 mx-auto text-left">
      <label for="col-3"style="font-size:24px;">ラウンド場所</label>
      <div class=""><%= f.text_field :round_place ,size: "40×20" %></div>

      <div class='col-md-3' style="position:absolute; bottom:-100px; right:110px;">
        <label style="font-size:24px;">本文</lavel>
        <div style="text-align:end; font-size:16px;"><%= f.text_area :body, cols: 40, rows:8 %></div>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="row col-10 mx-auto mt-5" style="position:absolute; left:260px; bottom: 270px;">
      <div class=""style="font-size:24px;">OUT：<%#= post.out_score %>&emsp;&emsp; In：<%#= f.in_score %>&emsp;&emsp;&emsp; Total：<strong><%#= f.total_score %></strong></div>
    </div>
  </div>
  
  <div style="position:absolute; left:880px; bottom: 180px;"><%= link_to "　戻る　", :back, class: "btn btn-lg btn-secondary btn-outline-dark text-white" %></div>
  <div style="position:absolute; left:1080px; bottom: 180px;"><%= f.submit "投稿する" ,class: "button btn-lg" %></div>
  
      <table class="posting_table" style="background-color:gainsboro; position:absolute; bottom:180px;">
        <tr>
          <th>No.</th> <th>1</th> <th>2</th> <th>3</th><th>4</th> <th>5</th> <th>6</th><th>7</th> <th>8</th> <th>9</th> <th>10</th> <th>11</th> <th>12</th><th>13</th> <th>14</th> <th>15</th><th>16</th> <th>17</th> <th>18</th>
        </tr>
        <tr>
    	    <td></td>
    	    <td><select><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
        </tr>
      </table>
    </div>
<% end %>