<%= render "layouts/header" %>
<div style="font-size: 20px; color: red; position:absolute; margin-top:10px; left:110px;">
  <% if @post.errors.any? %>
    <%= @post.errors.count %>件の未入力があります。
  <% end %>
</div>

<div class="container">
  <div class="mt-4" style="text-align:center; font-size:48px; font-weight:bold;">Posting Do!</div>
</div>

<%= form_with model: @post, local:true do |f| %>
<%= f.hidden_field :score_out %>
<%= f.hidden_field :score_in %>
<div class="container">
  
  <div class="form-group">
    <div class="row col-10 mt-4 mx-auto text-left">
      <label for="image col-3"style="font-size:24px;">画像</label>
      <div class="mt-1 ml-4"><%= f.file_field :post_image, accept: "image/*", id: "image", class: "form-control-file image md-5" %></div>
      
      <div class='col-md-3 offset-md-2'>
        <lavel class="col-3" style="font-size:24px; text-align:end;">タイトル</lavel>
        <div class="col-11 mt-2" style="text-align:end;"><%= f.text_field :title ,size: "40×20" %></div>
      </div>
    </div>
  </div>
    
  <div class="form-group">
    <div class="row col-10 mx-auto">
      <label for="col-3"style="font-size:24px;">日付</label>
      <div class="mt-1 ml-4"><%= f.date_field :round_day %></div>
    </div>
  </div>


  <div class="form-group">
    <div class="col-10 mx-auto text-left">
      <label for="col-3"style="font-size:24px;">ラウンド場所</label>
      <div class=""><%= f.text_field :round_place ,size: "40×20" %></div>

      <div class='col-md-3' style="position:absolute; bottom:-100px; right:110px;">
        <label style="font-size:24px;">本文</lavel>
        <div style="text-align:end; font-size:16px;"><%= f.text_area :body, cols: 40, rows:8 %></div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row col-10 mx-auto mt-5" style="position:absolute; left:260px; bottom: 270px;">
      <div class=""style="font-size:24px;">
        OUT：<span id="score_out"><%= @post.score_out || 0 %></span>&emsp;&emsp;
        In：<span id="score_in"><%= @post.score_in || 0 %></span>&emsp;&emsp;&emsp;
        Total：<strong><span id="score_total">0<%#= f.hidden_field :score_total, :value => @post.score_total %></span></strong>
      </div>
    </div>
  </div>
  
  <div style="position:absolute; left:880px; bottom: 180px;"><%= link_to "　戻る　", :back, class: "btn btn-lg btn-secondary btn-outline-dark text-white" %></div>
  <div style="position:absolute; left:1080px; bottom: 180px;"><%= f.submit "投稿する" ,class: "button btn-lg" %></div>
  
      <table class="posting_table" style="background-color:gainsboro; position:absolute; bottom:180px;">
        <tr>
          <th>No.</th> <th>1</th> <th>2</th> <th>3</th><th>4</th> <th>5</th> <th>6</th><th>7</th> <th>8</th> <th>9</th> <th>10</th> <th>11</th> <th>12</th><th>13</th> <th>14</th> <th>15</th><th>16</th> <th>17</th> <th>18</th>
        </tr>
        <tr class="posting_table_score">
    	    <td></td>
    	    <td><select class="select_score_in"><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select class="select_score_in"><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select class="select_score_in"><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select class="select_score_in"><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select class="select_score_in"><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select class="select_score_in"><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select class="select_score_in"><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select class="select_score_in"><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select class="select_score_in"><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select class="select_score_out"><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select class="select_score_out"><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select class="select_score_out"><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select class="select_score_out"><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select class="select_score_out"><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select class="select_score_out"><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select class="select_score_out"><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select class="select_score_out"><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
          <td><select class="select_score_out"><option></option> <option class="text-center">◎</option> <option class="text-center">◯</option> <option class="text-center">-</option> <option class="text-center">△</option> <option class="text-center">□</option> <option class="text-center">+3</option> <option class="text-center">+4</option> <option class="text-center">+5</option> <option class="text-center">+6</option> <option class="text-center">+7</option> <option class="text-center">+8</option> <option class="text-center">+9</option></select></td>
        </tr>
      </table>
    </div>
<% end %>
<!--selectタグを何かしらに変化した時、selectタグの内容をeachしてくる-->
<!--let にて初期値を設定-->
<!--eachしてきたデータを(this)はわたしとゆうテンションで、thisにval=>バリュー(値を以下のように設定するとゆうニュアンス)-->
<!--switchはRubyでいう「if」みたいな感じ、caseはelsifやelseみたいな感じ-->
<!--◎に値がチェンジした時に、score_inを「−２」にする指示-->
<!--breakeにて区切りをつける-->
<!--score_inとゆう合計値クラスをscore_in部分にtext表示させる-->
<script>
$('.select_score_in').change(function() {
    let score_in = 36;
    $('.select_score_in').each(function () {
      switch ($(this).val()) {
        case '◎':
          score_in = score_in - 2;
          break;
        case '◯':
          score_in = score_in - 1;
          break;
        case '-':
          score_in = score_in + 0;
          break;
        case '△':
          score_in = score_in + 1;
          break;
        case '□':
          score_in = score_in + 2;
          break;
        case '+3':
          score_in = score_in + 3;
          break;
        case '+4':
          score_in = score_in + 4;
          break;
        case '+5':
          score_in = score_in + 5;
          break;
        case '+6':
          score_in = score_in + 6;
          break;
        case '+7':
          score_in = score_in + 7;
          break;
        case '+8':
          score_in = score_in + 8;
          break;
        case '+9':
          score_in = score_in + 9;
          break;
        dafault:
          break;
      }
    });
    $('#score_in').text(score_in);
    $('#score_total').text(Number(score_in) + Number($('#score_out').text()))
    $('#post_score_out').val($('#score_out').text())
    $('#post_score_in').val($('#score_in').text())
  });

$('.select_score_out').change(function() {
    let score_out = 32;
    $('.select_score_out').each(function () {
      switch ($(this).val()) {
        case '◎':
          score_out = score_out - 2;
          break;
        case '◯':
          score_out = score_out - 1;
          break;
        case '-':
          score_out = score_out + 0;
          break;
        case '△':
          score_out = score_out + 1;
          break;
        case '□':
          score_out = score_out + 2;
          break;
        case '+3':
          score_out = score_out + 3;
          break;
        case '+4':
          score_out = score_out + 4;
          break;
        case '+5':
          score_out = score_out + 5;
          break;
        case '+6':
          score_out = score_out + 6;
          break;
        case '+7':
          score_out = score_out + 7;
          break;
        case '+8':
          score_out = score_out + 8;
          break;
        case '+9':
          score_out = score_out + 9;
          break;
        dafault:
          break;
      }
    });
    $('#score_out').text(score_out);
    $('#score_total').text(Number(score_out) + Number($('#score_in').text()))
    $('#post_score_out').val($('#score_out').text())
    $('#post_score_in').val($('#score_in').text())
  });
  
// $('.score_total').text(function() {
//   (const array = [score_in,score_out];
//   let sum = 0; {
//       sum += array[i];
//   }
//   console.log(sum);
// )};
</script>