<%= render "layouts/header" %>
<div class="cotainer mt-3">
  <table class='post_table table-borderless mt-3'>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
            <td class="img_wrap">
              <%= link_to edit_post_path(post.id) do %>
              <%= image_tag post.images[0].to_s, size: '160x140' %>
              <% end %>
            </td>
            <td nowrap>
              名前&emsp;&emsp;：<strong><%= post.user.name %></strong><br>
              日付&emsp;&emsp;：<strong><%= post.round_day %></strong><br>
              タイトル：<strong><%= post.title %></strong><br>
              ラウンド：<strong><%= post.round_place %></strong><br>
              スコア&emsp;：<strong><%= post.score_result[:score_total] %></strong>
            </td>
        </th>
      <% end %>
    </tbody>
  </table>
</div>
<div class="pagenation"><%= paginate @posts %></div>