<%= render "layouts/header" %>
<div class="cotainer mt-5">
      <div style="width: 130px; margin-left:555px; background-color:gainsboro;">
       <%= link_to '新しい順', posts_path(latest: "true"),class: "text-dark"%> |
       <%= link_to '古い順', posts_path(old: "true"),class: "text-dark" %>
       </div>
  <table class='table table-borderless mt-3'>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
            <td width="200" height="100" style="padding-left:450px;">
              <%= link_to post_path(post.id) do %>
              <%= image_tag post.post_image, size: '160x140' %>
              <% end %>
            </td>
            <td nowrap>
              名前：<%= post.user.name %><br>
              日付：<%= post.round_day %><br>
              タイトル：<%= post.title %><br>
              ラウンド：<%= post.round_place %><br>
              スコア：<%#= post.total_score %><br>
              コメント：<%= post.post_comments.count %>件<br>
            </td>
        </th>
      <% end %>
    </tbody>
  </table>
</div>
<div style="width: auto; margin-left:550px;"><%= paginate @posts %></div>