<%= render "layouts/header" %>
<div class="cotainer mt-4">
      <div class="reorder-index">
       <%= link_to '古い投稿順', posts_path(latest: "true"), class: "text-dark"%>&ensp; |&ensp;
       <%= link_to '新しい投稿順', posts_path(old: "true"), class: "text-dark" %>
       </div>
  <table class='post_table table-borderless mt-3'>
    <tbody>
      <% @posts.each do |post| %>
        <tr class="change-element-style">
          <% if post.published? %>
            <td class="image-box_stand">
              <%= link_to post_path(post.id) do %>
              <%= image_tag post.images[0].to_s, size: '160x140' %>
              <% end %>
            </td>
            <td nowrap>
              名前&emsp;&emsp;：<strong class="element-name"><%= post.user.name %></strong><br>
              日付&emsp;&emsp;：<strong><%= post.round_day %></strong><br>
              タイトル：<strong class="element-title"><%= post.title %></strong><br>
              ラウンド：<strong><%= post.round_place %></strong><br>
              スコア&emsp;：<strong><%= post.score_result[:score_total] %></strong><br>
              コメント：<strong><%= post.post_comments.count %>件</strong><br>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="pagenation"><%= paginate @posts %></div>