<%= render "layouts/header" %>
<div class="container">
  <%= render "users/form" %>
  
  <div class="container">
    <div class="row">
      <div class='col-5'>
          <div class="mt-4"><%= image_tag @post.post_image, size:'360x250' %></div>
          
          <div class="row">
            <div class="col mt-3"><%= @post.round_day %></div>
            <div class="col-8">
              <% if current_user == @post.user %>
                <%= link_to edit_post_path(@post) do %>
                <i class="fas fa-edit fa-2x text-dark" style="position:absolute; margin-top:15px; padding-right:5px;"></i>
                <% end %>
              <% end %>
              <span id="favorites-remote" style="position:absolute; margin-top:15px; margin-left:70px;"><%= render "favorites/favorite", post: @post %></span>
              <span id="bookmarks-remote" style="position:absolute; margin-top:17px; margin-left:170px;"><%= render "bookmarks/bookmark", user: @user, post: @post %></span>
            </div>
          </div>
          <div class="mt-1">
            <%= @post.round_place %>
            
          </div>
          <div class="row ml-2 mt-1" style="font-size:22px;">
            OUT：<div class=""style="font-weight:bold;"><%= @post.score_result[:score_out] %></div>&emsp;
            IN：<div class="" style="font-weight:bold;"><%=  @post.score_result[:score_in]  %></div>&emsp;
            TOTAL：<div class=""style="font-weight:bold;"><%= @post.score_result[:score_total] %></div>
          </div>
          <div class="col-10" style="border-bottom: 1px solid black;"></div>
   
      </div>
      <div class='post-box col-6 pt-1 mt-4 mb-1'>
        <p class='p-title col mt-3'>Ψ　<%= @post.title %>　Ψ</p>
        <p class='p-body mt-4 ml-3'><%= @post.body %></p>
      </div>
    </div>
  </div>
      
    <div class="container mt-3">
      <div id="post_comment_remote"><%= render "post_comments/index" , post: @post %></div>
      <div id="post_comment_form"><%= render "post_comments/form" ,post: @post ,post_comment: @post_comment %></div>
    </div>
