<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<%= render "layouts/header" %>
<div class="container">
  <%= render "users/form" %>
  
  <div class="container">
    <div class="row">
      <div class='col-4'>
          <div class="mt-4">
            <div class="swiper mySwiper">
              <div class="swiper-wrapper">
                <% @post.images.each do |image| %>
                <div class="swiper-slide" role="group">
                  <%= image_tag image.url, size:'360x250' %>
                </div>
                <% end %>
              </div>
                <div class="swiper-button-prev swiper-button-white"></div>
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-pagination"></div>
                <!--hoverなしにしたい時は以下に変更-->
                <!--<div class="swiper-button-next"></div>-->
                <!--<div class="swiper-button-prev"></div>-->
            </div>
          </div>
          <div class="row">
            <div class="col mt-3"><%= @post.round_day %></div>
            <div class="col-8">
              <% if current_user == @post.user %>
                <%= link_to edit_post_path(@post) do %>
                <i class="fas fa-edit fa-2x text-dark" style="position:absolute; margin-top:15px; margin-right:3px;"></i>
                <% end %>
              <% end %>
              <% if current_user.admin? %>
              <% else %>
                <% if @post.published? %>
              <span id="favorites-remote" style="position:absolute; margin-top:15px; margin-left:45px;"><%= render "favorites/favorite", post: @post %></span>
              <span id="bookmarks-remote" style="position:absolute; margin-top:17px; margin-left:145px;"><%= render "bookmarks/bookmark", post: @post %></span>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="mt-3"><%= @post.round_place %></div>
          <div class="row ml-auto mt-1" style="font-size:22px;">
            OUT：<div class=""style="font-weight:bold;"><%= @post.score_result[:score_out] %></div>&emsp;
            IN：<div class="" style="font-weight:bold;"><%=  @post.score_result[:score_in]  %></div>&emsp;
            TOTAL：<div class=""style="font-weight:bold;"><%= @post.score_result[:score_total] %></div>
          </div>
          <div class="col-12" style="border-bottom: 1px solid black;"></div>
   
      </div>
      <div class='post-box col-4 mt-4 ml-4 mb-2'>
        <p class='p-title col mt-3'>Ψ　<%= @post.title %>　Ψ</p>
        <p class='p-body mt-4 ml-3'><%= @post.body %></p>
      </div>
      
       <div class="col-3 mt-4">
         <% if @post.published? %>
      <div class="comment_filed" id="post_comment_remote"><%= render "post_comments/index" , post: @post %></div>
      <% if current_user.admin? %>
      <% else %>
      <div id="post_comment_form"><%= render "post_comments/form" ,post: @post ,post_comment: @post_comment %></div>
      <% end %>
    </div>
    <% end %>
    </div>
  </div>
      


<!--こちらで反応したのは、html内でしかscriptタグの内容を使用しない為、動いていた-->
<!--現在は、JavaScript/packs/swiper.jsで読み込ませている-->

<!--投稿画像スライド-->
<!--<script>-->
<!--  var swiper = new Swiper(".mySwiper", {-->
    
<!--    navigation: {-->
<!--      nextEl: ".swiper-button-next",-->
<!--      prevEl: ".swiper-button-prev",-->
<!--    },-->
<!--    pagination: {-->
<!--    el: ".swiper-pagination"-->
<!--    },-->
<!--  });-->

<!--  const container = document.querySelector('.mySwiper');-->
<!--  console.log(container)-->
<!--  const prev_button =  document.querySelector('.mySwiper .swiper-button-prev');-->
<!--  const next_button =  document.querySelector('.mySwiper .swiper-button-next');-->
  
<!--  container.addEventListener('mouseenter', () => {-->
<!--    // hover クラスを追加-->
<!--    prev_button.classList.add('hover');-->
<!--    next_button.classList.add('hover');-->
<!--  });-->
<!--  //マウスアウトイベント-->
<!--  container.addEventListener('mouseleave', () => {-->
<!--    // hover クラスを削除-->
<!--    prev_button.classList.remove('hover');-->
<!--    next_button.classList.remove('hover');-->
<!--  });-->

<!--</script>-->