<%= render "layouts/header" %>
<div class="container">
  <%= render "users/form" %>
  
  <div class="container">
    <div class="row">
      <div class='col-5'>
          <div class="mt-4"><%= image_tag @post.post_image, size:'360x250' %></div>
          
          <div class="row">
          <div class="col mt-3"><%= @post.round_day %></div>
          <div class="col">
            <% if current_user == @post.user %>
              <%= link_to edit_post_path(@post) do %>
              <i class="fas fa-edit fa-2x text-dark" style="position:absolute; margin-top:15px;"></i>
              <% end %>
            <% end %>
            
            <% if @post.favorited_by?(current_user) %>
              <%= link_to post_favorites_path(@post), method: :delete do %>
                <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
                <%= @post.favorites.count %>Good!
              <% end %>
            <% else %>
              <%= link_to post_favorites_path(@post), method: :post do %>
                <i class="fas fa-heart" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </div>
          </div>
          
          <div class="mt-1"><%= @post.round_place %></div>
          <div class="row ml-2 mt-1" style="font-size:22px;">
            OUT：<div class=""style="font-weight:bold;"><%= @post.in_score %></div>&emsp;
            IN：<div class="" style="font-weight:bold;"><%= @post.out_score %></div>&emsp;
            TOTAL：<div class=""style="font-weight:bold;"><%= @post.total_score %></div>
          </div>
          <div class="col-10" style="border-bottom: 1px solid black;"></div>
   
      </div>
      <div class='post-box col-6 pt-1 mt-4 mb-1'>
        <p class='p-title col mt-3'>Ψ　<%= @post.title %>　Ψ</p>
        <p class='p-body mt-4 ml-3'><%= @post.body %></p>
      </div>
    </div>
  </div>
      
    <div class="container mt-3 ml-5 ">
      <div id='row ml-auto align-self-start'>
        <table class="post_comment_remote">
          <tbody>
              <% @post.post_comments.each do |post_comment| %>
              <tr>
                <td style="border: none; text-align: center;">
                  <%= link_to user_path(post_comment.user) do %>
                    <%= image_tag post_comment.user.get_profile_image, size: "50x50" %><br>
                    <%= post_comment.user.name %>
                  <% end %>
                </td>
                <td style="border: none;"><u><%= post_comment.comment %></u></td>
                <td style="border: none;">
                  <% if post_comment.user == current_user %>
                    <%= link_to "削除", post_post_comment_path(@post, post_comment), method: :delete,class: "btn btn-sm btn-danger pull-right" %>
                  <% end %>
                </td>
              </tr>
              <% end %>
          </tbody>
        </table>
      </div>
      
      <div id="post_comment_form">
          <%= form_with(model:[@post, @post_comment]) do |f| %>
          <div class="col mt-3">
          <div class="col"><%= f.text_area :comment ,placeholder: "コメントはこちら",size: "50x4" %></div>
          <div class='col'><%= f.submit "コメント",class: "button btn-lg" %></div>
          </div>
          <% end %>
      </div>
    </div>
