<%= form_with url: search_path, local: true, method: :get do |f| %>
<div class="search_form">
  <div class="row">
    <div class="col-1 mt-2 pr-5 mr-3">
      <%= f.select :range, options_for_select([['選択'], ['Name'], ['Place']]) %>
    </div>
    <div class="col-3 mt-2 ml-1 pr-5 mr-5">
      <span class="search_container">
        <%= f.text_field :word, :placeholder => "検索" %>
        <%= f.hidden_field :search %>
        <button><%= f.submit "検索" , class: "fas fa-search" %></button></span>
      </div>
  </div>
</div>
<% end %>
<%#= f.select :search, options_for_select([["タイトル","title"], ["ラウンド場所","round_place"],  ["投稿者","post.name"], ["スコア","score_result"]]) %>